.ch-item6 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}


.ch-info6-wrap6, 
.ch-info6{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}

.ch-info6-wrap6 {
	top: 20px;
	left: 20px;
	background: black;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
	
}

.ch-info6 {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.ch-info6 > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info6 .ch-info6-front6 {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	
	z-index: 100;
	box-shadow: 
		inset 2px 1px 4px rgba(0,0,0,0.1);
}

.ch-info6 .ch-info6-back6 {
	background: rgba(230,132,107,0);
}

.ch-img-1 { 
	background-image: url(../images/3de38c1ab9551c4468800f13ea604386.jpg);
    background-size: 295px;
    background-repeat: no-repeat;
}

.ch-img-2 { 
	background-image: url(../images/que-es-nodejs.png);
    background-size: 350px;
    background-repeat: no-repeat;
 
}

.ch-img-3 { 
	background-image: url(../images/Digital-Marketing-Icon_300dpi-e1423685778618.png);
    background-size: 220px ,220px;
    background-repeat: no-repeat;
}

.ch-info6 h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 25px;
	padding: 40px 0 0 0;
	height: 90px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info6 p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info6 p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info6 p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}


.ch-item6:hover .ch-info6-front6 {
	-webkit-transform: rotate3d(1,0,0,180deg);
	-moz-transform: rotate3d(1,0,0,180deg);
	-o-transform: rotate3d(1,0,0,180deg);
	-ms-transform: rotate3d(1,0,0,180deg);
	transform: rotate3d(1,0,0,180deg);
	
	box-shadow: 
		inset 0 0 5px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item6:hover .ch-info6-back6 {
	background-color: black;
}
