<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
	<title>Chat-bot</title>
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link type="text/css" rel="stylesheet" href="{% static 'newcss/bootstrap.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'newcss/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cubeslider.css'%}">
     
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style5.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demonew.css'%}"/>
  
    <link type="text/css" rel="stylesheet" href="{% static 'newcss/modstyle.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer-distributed-with-address-and-phones.css'%}"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">







   <link rel="stylesheet" href="{% static 'newcss/supersized.css'%}"/>    
<link rel="stylesheet" href="{% static 'newcss/style.css'%}"/>    
<link rel="stylesheet" href="{% static 'newcss/side-stick.css'%}"/>    
<link rel="stylesheet" href="{% static 'newcss/responsive.css'%}"/>
   
</head>
<body>

 





<div id="aboutus" class="container-fluid" style=" padding-bottom: 50px;  background-color:#e0e6f1;height: 564px;">  

<center><h2  style="color: black;"><font size="7">About Us</font></h2></center>

     <font size="4"><br>
    DataBytes Analytics (aka GlobalStat Analytics) is an Indian and Globally recognized Analytics, Data Science, Machine Learning and Artificial Intelligence Product Development Company whose purpose is to develop, produce, and promote Analytics, Data Science and AI Practice and Practitioners.
<br><br>
DataBytes provides Digital, Applications (Desktop + Web + Android), Softwares, Statistical Science, Predictive Analytics, Data Science, Data Mining, Big Data, Machine Learning, Deep Learning, Artificial Intelligence, Cloud Computing, Cognitive Computing, Quantum Computing, IoT, Product Development, Corporate Training, and R&D related services across differ7nt Industries like Banking, Insurance, Telecom, Media, Retail, CPG, FMCG, Utility, Govt, Human Capital, Healthcare and Pharma but not limited. DataBytes provides insights into customer needs, preferences and ideas for growing their business by analyzing real life data using Statistical Science, Data Science and Machine Learning.
<br><br>
DataBytes strives to support Organizations and Individuals by making their Visions, Dreams, and Goals become a reality. We can help you facilitate organizational change, empower, enliven and enlighten Individuals and Organizations.
<br><br>
DataBytes makes business easier in an information-saturated world by helping different organizations understand the true meaning of their data and solve complex business problems by Visualization and Analysis through Statistical Science and assist them win against a Competitor.
<br>
</font>

</div>    

</div>    




 <div class="bot-tiles" style="height: 100px;">
            <div>
                <a href="pf.html" title="">
                    Product Features
                    <span><img src="{% static 'img/line-separator.png'%}"></span>
                </a>
            </div>
            <div>
                <a href="index.html" title="">
                    Home
                    <span><img src='{% static "img/line-separator.png"%}'></span>
                </a>
            </div>
            <div>
                <a href="pp.html" title="">
                    Plans & Pricing
                    <span><img src='{% static "img/line-separator.png"%}'></span>
                </a>
            </div>
        </div>
    </div>




  
   





</body>
</html>