<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>Chat-bot</title>
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link type="text/css" rel="stylesheet" href="{% static 'newcss/bootstrap.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'newcss/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cubeslider.css'%}">
     
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style5.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demonew.css'%}"/>
  
    <link type="text/css" rel="stylesheet" href="{% static 'newcss/modstyle.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer-distributed-with-address-and-phones.css'%}"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">






<link rel="stylesheet" href="{% static 'newcss/supersized.css'%}"/>    
<link rel="stylesheet" href="{% static 'newcss/style.css'%}"/>    
<link rel="stylesheet" href="{% static 'newcss/side-stick.css'%}"/>    
<link rel="stylesheet" href="{% static 'newcss/responsive.css'%}"/>


   
</head>
<body>

 <center>
  <!--<button onclick="playVid()" type="button">Play Video</button>
	<button onclick="pauseVid()" type="button">Pause Video</button><br> --></center>
<div id="Projects" style="background-color:mediumpurple;margin-top: -20px;height: 564px;" >
    <center><h2 class="fifthheading" style="color: black;opacity: .55">Product Features</h2></center>
<div class="container-fluid newpadding2" style="background-color:mediumpurple">
<center>

  <div class="col-sm-2">
        <center><h3 class="secheading" style="opacity: 1.0;color: white">Feature 1</h3></center>
    <ul class="ch-grid">
					<li>
                        
						<div data-scroll="toggle(.fromTopIn, .fromTopOut)" class="ch-item5 ch-img-15">				
							<div class="ch-info5-wrap5">
								<div class="ch-info5">
									<div class="ch-info5-front5 ch-img-15"></div>
									<div class="ch-info5-back5">
										<h3>Taby</h3>
										<p>AI based virtual assistant.</p>
									</div>	
								</div>
							</div>
						</div>
					</li>
        </ul>
        </div>



    <div class="col-sm-2">
        <center><h3 class="secheading" style="opacity: 1.0;color: white">Feature 2</h3></center>
    <ul class="ch-grid">
					<li>
                        
						<div data-scroll="toggle(.fromTopIn, .fromTopOut)" class="ch-item5 ch-img-21">				
							<div class="ch-info5-wrap5">
								<div class="ch-info5">
									<div class="ch-info5-front5 ch-img-21"></div>
									<div class="ch-info5-back5">
										<h3>Online Test</h3>
										<p>Pshycometric Test for students.</p>
									</div>	
								</div>
							</div>
						</div>
					</li>
        </ul>
        </div>
     <div class="col-sm-2">
          <center><h3 class="secheading" style="opacity: 1.0 ;color: white">Feature 3</h3></center>
    <ul class="ch-grid">
					<li>
                        
						<div data-scroll="toggle(.fromTopIn, .fromTopOut)" class="ch-item5 ch-img-15">
							<div class="ch-info5-wrap5">
								<div class="ch-info5">
									<div class="ch-info5-front5 ch-img-15"></div>
									<div class="ch-info5-back5">
										<h3>Career</h3>
                                        <p>Choose right Career based on personlity traits.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
         </ul>
    </div>

  <div class="col-sm-2">
          <center><h3 class="secheading" style="opacity: 1.0;color: white">Feature 4</h3></center>
    <ul class="ch-grid">
					<li>
                        
						<div data-scroll="toggle(.fromTopIn, .fromTopOut)" class="ch-item5 ch-img-21">
							<div class="ch-info5-wrap5">
								<div class="ch-info5">
									<div class="ch-info5-front5 ch-img-21"></div>
									<div class="ch-info5-back5">
										<h3>Instant Report </h3>
                                        <p>Instant Report generation and visualize it in different formats.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
         </ul>
    </div>



     <div class="col-sm-2">
          <center><h3 class="secheading" style="opacity: 1.0;color: white">Feature 5</h3></center>
    <ul class="ch-grid">
					<li>
                         
						<div data-scroll="toggle(.fromTopIn, .fromTopOut)"  class="ch-item5 ch-img-15">
							<div class="ch-info5-wrap5">
								<div class="ch-info5">
									<div class="ch-info5-front5 ch-img-15"></div>
									<div class="ch-info5-back5">
										<h3>Chat With Counsellor</h3>
										<p>Personal Career guidance from top level counsellors.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
    </div>
    </center>

   
     <div class="col-sm-2">
          <center><h3 class="secheading" style="opacity: 1.0;color: white">Feature 6</h3></center>
    <ul class="ch-grid">
					<li>
                        
						<div data-scroll="toggle(.fromTopIn, .fromTopOut)" class="ch-item5 ch-img-21">
							<div class="ch-info5-wrap5">
								<div class="ch-info5">
									<div class="ch-info5-front5 ch-img-21"></div>
									<div class="ch-info5-back5">
										<h3>Admin Accessibility</h3>
										<p>Admin can check all the students' records.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
    </div>
    </center>
  </div>


<div class="bot-tiles" style="height: 100px;margin-left: -15px;width: 1400px;">
            <div>
                <a href="index.html" title="">
                    Home
                    <span><img src="{% static 'img/line-separator.png'%}"></span>
                </a>
            </div>
            <div>
                <a href="au.html" title="">
                    About Us
                    <span><img src='{% static "img/line-separator.png"%}'></span>
                </a>
            </div>
            <div>
                <a href="pp.html" title="">
                    Plans & Pricing
                    <span><img src='{% static "img/line-separator.png"%}'></span>
                </a>
            </div>
        </div>
    </div>





</div>
   





</body>
</html>